@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #e8e8e8;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 1200px;
  margin-left: 48px;
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.display-none {
  display: none;
}

.t-center {
  text-align: center;
}

button {
  cursor: pointer;
  background: rgb(232, 232, 232);
  font: 500 16px/1.5 "Noto Sans TC", sans-serif;
  padding: 8px 16px;
  border: 3px solid black;
  border-radius: 0.4em;
  -webkit-box-shadow: 0.1em 0.1em;
          box-shadow: 0.1em 0.1em;
}
button:hover {
  -webkit-transform: translate(-0.05em, -0.05em);
          transform: translate(-0.05em, -0.05em);
  -webkit-box-shadow: 0.15em 0.15em;
          box-shadow: 0.15em 0.15em;
}
button:active {
  -webkit-transform: translate(0.05em, 0.05em);
          transform: translate(0.05em, 0.05em);
  -webkit-box-shadow: 0.05em 0.05em;
          box-shadow: 0.05em 0.05em;
}

.pro-skill button {
  border: 3px solid black;
  border-radius: 0.4em;
  -webkit-box-shadow: 0.1em 0.1em;
          box-shadow: 0.1em 0.1em;
}
.pro-skill button:hover {
  -webkit-transform: translate(-0.05em, -0.05em);
          transform: translate(-0.05em, -0.05em);
  -webkit-box-shadow: 0.15em 0.15em;
          box-shadow: 0.15em 0.15em;
}
.pro-skill button:active {
  -webkit-transform: translate(0.05em, 0.05em);
          transform: translate(0.05em, 0.05em);
  -webkit-box-shadow: 0.05em 0.05em;
          box-shadow: 0.05em 0.05em;
}

.btn-delete {
  width: 40px;
  height: 40px;
  background: url("https://api.iconify.design/ic/round-delete-outline.svg") no-repeat center center/24px;
  background-color: hsl(43deg, 55%, 74%);
}

.todo-btn-list .focused {
  background-color: goldenrod;
}

.pro-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding: 64px 24px 64px 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: rgb(238, 238, 238);
  font: 400 16px/19px "Noto Sans TC", sans-serif;
}
.pro-skill ul > li:not(:last-child) {
  margin-bottom: 8px;
}
.pro-skill-class {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-right: 1px solid rgba(47, 53, 12, 0.15);
  padding-right: 12px;
  margin-right: 24px;
}
.pro-skill-class .focused {
  font-weight: 600;
  background: #B8B8B8;
}
.pro-skill .pro-skill-class-item {
  width: 80px;
  padding: 8px 16px;
  text-align: center;
  cursor: pointer;
}
.pro-skill .pro-skill-class-item:hover {
  font-weight: 600;
  background: #B8B8B8;
}
.pro-skill .product-list button {
  width: 180px;
}
.pro-skill .product-list:not(#product-tool) {
  display: none;
}
.pro-skill .product-list {
  height: 100%;
  overflow-y: scroll;
}
.pro-skill .product-list::-webkit-scrollbar {
  display: none;
}

.todo-list-container {
  height: 27.5em;
}
.todo-list-container .todo-btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}
.todo-list-container .todo-btn-list li {
  margin-right: 8px;
}
.todo-list-container .todo-list-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% - 16px - 46px);
}
.todo-list-container .product-todo {
  width: 320px;
  margin-right: 24px;
  background-color: hsl(0deg, 0%, 76%);
  border: 3px black solid;
  padding: 16px 32px 40px 32px;
  text-align: center;
  overflow-y: scroll;
}
.todo-list-container .product-todo::-webkit-scrollbar {
  display: none;
}
.todo-list-container .product-todo h2 {
  font: 500 20px/1.25 "Noto Sans TC", sans-serif;
  margin-bottom: 24px;
}
.todo-list-container .product-todo ul > li:not(:last-child) {
  margin-bottom: 16px;
}
.todo-list-container .product-todo .hint {
  position: relative;
  top: calc(50% - 16px - 25px);
  color: rgba(0, 0, 0, 0.5843137255);
}
.todo-list-container .product-todo .todo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  font: 500 16px/1.5 "Noto Sans TC", sans-serif;
}
.todo-list-container .product-todo .todo-item p {
  width: 200px;
  padding: 8px 16px;
  border-bottom: 2px solid rgb(56, 56, 56);
}
.todo-list-container .focused {
  background-color: goldenrod;
  -webkit-box-shadow: 0.3em 0.3em;
          box-shadow: 0.3em 0.3em;
}