.pro-skill{
    display: flex;
    height: 100vh;
    padding: 64px 24px 64px 12px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: rgb(238, 238, 238);
    font: $font-t-16;
    ul > li:not(:last-child){
        margin-bottom: 8px;
    }
    &-class{
        height: fit-content;
        border-right: 1px solid rgba(47, 53, 12, 0.15);
        padding-right: 12px;
        margin-right: 24px;

        .focused{
            font-weight: 600;
            background: #B8B8B8;
        }
    }
    .pro-skill-class-item{
        width: 80px;
        padding: 8px 16px;
        text-align: center;
        cursor: pointer;

        &:hover{
            font-weight: 600;
            background: #B8B8B8;
        }
    }
    .product-list button{
        width: 180px;
    }
    .product-list:not(#product-tool){
        display: none;
    }
    .product-list{
        height: 100%;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
.todo-list-container{
    height: 100vh;
    max-width: calc(100vw - 330px);
    padding: 64px 48px;
    .todo-btn-list{
        display: flex;
        li{
            margin-right: 8px;
        }
        margin-bottom: 16px;
    }
    .todo-list-main{
        width: 100%;
        display: flex;
        overflow-x: scroll;
        height: calc(100% - 16px - 46px) ;
    }
    .product-todo{
        flex-shrink : 0;
        width: 320px;
        margin-right: 24px;
        background-color: hsl(0, 0%, 76%);
        border: 3px black solid;
        padding: 16px 32px 40px 32px;
        text-align: center;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        section{
            margin-bottom: 16px;
            display: none;
        }
        h2{
            font: $font-d-20;
            margin-bottom: 16px;
        }
        h3{
            color: rgba(0, 0, 0, 0.64);
            margin-bottom: 8px;
        }
        .m-list{
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
            .m-list-item{
                padding: 4px 8px;
                background-color: rgb(226, 186, 82);
                border: 2px solid black;
                border-radius: 0.4em;
            }
        }
        .todo-list{
            padding-top: 8px;
        }
        .todo-list > li:not(:last-child){
            margin-bottom: 16px;
        }
        .hint{
            position: relative;
            top: 144px;
            color: #00000095;
        }
        .todo-item{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            font: $font-b-16;
            p{
                width: 200px;
                padding: 8px 16px;
                border-bottom: 1.5px solid rgb(171, 125, 9);
            }
        }
    }
    .focused{
        background-color: goldenrod;
        box-shadow: 0.3em 0.3em;
    }
}





// #product-processing{
//     display: none;
// }