*,
*::before,
*::after{
    box-sizing: border-box;
    // color: black;
    // outline: 1px black solid;
}
body{
    background: #e8e8e8;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.display-none{
    display: none;
}