*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    background: #e8e8e8;
}
.main-wrapper{
    display: flex;
}

.container{
    // background-color: antiquewhite;
    max-width: 1200px;
    margin-left: 48px;
    margin-top: 64px;
    display: flex;
    
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.display-none{
    display: none;
}