@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');
$font-family: 'Noto Sans TC', sans-serif;

$font-t-14: 400 14px/18px $font-family;
$font-t-16: 400 16px/19px $font-family;
$font-b-16: 500 16px/1.5 $font-family;
$font-d-20: 500 20px/1.25 $font-family;